.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 150px;
}
button {
  background-color: rgb(10, 121, 86);
  color: white;
  padding: 10px 20px;
  border: green;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.tim-in{
  border: solid black 1px;
  margin-bottom: 20px;
  margin-right: 40px;
}
input[type="datetime-local"] {
  padding: 10px;
  border-radius: 2px;
}
.input-container {
  padding: 10px 20px;
}

.countdown-container {
  margin-top: 20px;
  font-size: 24px;
}


@media only screen and (max-width: 500px) {
  h1 {
    margin-left: 60px;
  }

  
}